$primary-color: #3490ff;
$active-color: #2e81e5;

.primaryButton {
  margin-left: 0.5rem;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
  transition: all .3s ease-in;
}

.primaryButton:hover {
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.1s;
}

.primaryButton:active {
  background-color: $active-color;
  transition: none 0s;
}